*.csv
*.joblib
vae_model_enhanced/
vae_tuning/
autoencoder_tuning/
.tmp.drivedownload/
.tmp.driveupload/
Data/
Auto_K-Means/
Deprecated Code/
coverage
*.h5
*.zip
*.html
Archive/
synthea-master/output/
synthea-master/.github
Dashboard/cache-directory/